.articleContainer{
    padding:15px;
}

.articleImgDiv{
    width:50%;
    min-height:500px;
    margin: 0 auto;
}

    .articleImg{
        width:100%;
        height:500px;
    }

    .articleArt{
        width: 80%;
        margin: 0 auto;
    }