section{
    padding-top: 30px;
}

.smally {
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}

.first{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.second{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.items{
    flex:0  49%;
    height: 133.33px;
    margin-bottom: 5px;
}