.imgTextGroupContainer{
    width: 100%;
}

    .imgTextGroupFlex{
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }

        .imgTextGroupFlexItems{
            flex:0  24.25%;
            margin-bottom: 4px;
        }